# .gitignore

# credentials
project/.gnupg/local*

# sbt
project/target
target/
.history
.bsp
.bloop
.metals
metals.sbt

# Java
*.class

# Logs
*.log
log/
logs/

# Temporary files
*~
*.bak
*.old
*.tmp
nohup.out
tmp/

# vim
.*.sw[a-z]

# IntelliJ
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# Eclipse
.cache
.classpath
.project
.scala_dependencies
*.sc

# Ensime
.ensime
.ensime_cache/

# Mac OS X
._*
.DS_Store

# Windows
Desktop.ini
Thumbs.db

*.swp
local
.dbeaver*
**/*.log
.directory
venv/
.idea
target
dependency-reduced-pom.xml
pom.xml.versionsBackup
~*
*.lock
*.orig
*.md.html

*.flattened-pom.xml

# Extension
/extension/node_modules/
/extension/dist/
/extension/src/extension-description.ts
/extension/coverage/
/extension-test.properties
