name: CI Build

on:
  - push

jobs:
  build:
    name: Build with Scala ${{ matrix.scala }} and Exasol ${{ matrix.exasol-docker-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        scala: [ 2.12.14 ]
        exasol-docker-version: [ 6.2.15-d1, 7.0.10 ]

    steps:
      - name: Checkout the Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Java and Scala with JDK 11
        uses: olafurpg/setup-scala@v10
        with:
          java-version: 11

      - name: Pull Docker Images
        run: |
          docker pull exasol/docker-db:${{ matrix.exasol-docker-version }}
          docker pull localstack/localstack:0.12.5
          docker pull alluxio/alluxio:2.6.0

      - name: Cache Local SBT Dependencies
        uses: actions/cache@v2
        with:
          path: |
            ~/.sbt
            ~/.ivy2/cache
            ~/.coursier/cache/v1
            ~/.cache/coursier/v1
          key: ${{ runner.os }}-sbt-cache-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('project/build.properties') }}
          restore-keys: |
            ${{ runner.os }}-sbt-cache-

      - name: Check Formatting
        run: sbt ++${{ matrix.scala }} scalafmtSbtCheck scalafmtCheckAll

      - name: Run CI
        run: ./scripts/ci.sh
        env:
          SCALA_VERSION: ${{ matrix.scala }}

      - name: Upload Coverage Results to Coveralls
        run: sbt coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Sonar Cloud Scan
        if: matrix.exasol-docker-version == '7.0.10'
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Cleanup
        run: |
          rm -rf "$HOME/.ivy2/local" || true
          find $HOME/Library/Caches/Coursier/v1 -name "ivydata-*.properties" -delete || true
          find $HOME/.ivy2/cache                -name "ivydata-*.properties" -delete || true
          find $HOME/.cache/coursier/v1         -name "ivydata-*.properties" -delete || true
          find $HOME/.coursier/cache            -name "*.lock"               -delete || true
          find $HOME/.sbt                       -name "*.lock"               -delete || true
